/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$addButtonBorderColor: #ccc;
$addButtonTextColor: #666;
$prospectBorder: #FFE6CC;
$prospectBack: #FFF0E0;
$listingBorder: #CCFFCC;
$listingBack: #E0FFE0;
$eventBorder: #B2CCFF;
$eventBack: #D1E0FF;

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	text-align: center;
}

#intro-title {
	margin-top: 200px;
}

#signup-button, #login-button {
	float: none;
	box-shadow: 1px 1px 1px #eee;
}

.login-field {
	margin-right: 10px;
	box-shadow: 1px 1px 1px #eee;
}

#profile {
	position: relative;
	bottom: -20px;
	border: 10px solid #fff;
	box-shadow: 1px 2px 2px #ccc;
}

.agent-info {
	margin-top: 100px;
	text-align: left;
}

.agent-edit {
	margin-top: 160px;
}

.stat-bubble {
	background: #fff;
	border-radius: 100px;
	width: 170px;
	height: 170px;
	text-align: center;
	padding: 0px;
	box-shadow: 1px 2px 2px #aaa;

	h1 {
		line-height: 200px;
		font-size: 80px;
		color: #C2D1E0;
		position: relative;
		top: -20px;
	}

	h3 {
		color: #C2D1E0;
		position: relative;
		top: -120px;
	}
}

.edit-button {
	display: inline-block;
}

.top {
	border-bottom: 1px solid #ccc;
}

.nav {
	border: none;
}

.signUp {
	padding: 50px;
	background: #ddd;
}

.nav {
	background: #fff;
}

.nav-pills li {
	border-radius: 0px;
}

.jumbotron {
	color: #666;
	background: #fff;
}

.chat-heading {
	background-color: $eventBack!important;
}

.panel-heading {
	border-radius: 0px;
}

.event-panel {
	border-color: $eventBorder!important;
}

.event-heading {
	background-color: $eventBack!important;
}

.listing-panel {
	border-color: $listingBorder!important;
}

.listing-heading {
	background: $listingBack!important;
}

.prospect-panel {
	border-color: $prospectBorder!important;
}

.prospect-heading {
	background: $prospectBack!important;
}

.dashboard-header {
	background: #EBF0F5;
}

.dashboard-body {
	margin-top: 40px;
	height: 1000px;
}

.panel {
	border-radius: 0px;
	box-shadow: 1px 2px 2px #eee;
}

#agentListBox, #prospectListBox {
	width: 100%;
	padding: 5px;
	height: 120px;
}

#listingListBox {
	width: 100%;
	padding: 5px;
	height: 300px;
}

.btn, .form-control {
	margin-top: 10px;
}

.modal-header {
	background: #eee;
}

.form {
	margin-bottom: 10px;
	width: 100%;
	padding: 5px;
}

.panel-heading {
	font-weight: bold;
	text-align: left;
	cursor: pointer;
}

.event-col, .listings-col, .leads-col {
	text-align: left;
}

.listingImage {
	margin-top: -15px;
	margin-bottom: 10px;
}

.listingInformation {
	margin-top: 20px;
}

.attrTitle {
	margin-top: 5px;
	text-align: right;
	font-weight: bold;
}

.attrValue {
	margin-top: 5px;
	text-align: left;
}

h3 {
	display: inline-block;
	vertical-align: middle;
}

.list-group {
	box-shadow: 1px 1px 1px #ddd;
}

/* buttons */

button {
	vertical-align: middle;
	float: right;
	margin-left: 10px;
}

.add {
	color: $addButtonTextColor;
	border-color: $addButtonBorderColor;
	box-shadow: 1px 1px 1px #ddd;
}

#back-button {
	color: $addButtonTextColor;
	border-color: $addButtonBorderColor;
	box-shadow: 1px 1px 1px #ddd;
}

/* forms */

.collectionForm {
	width: 100%;
}

select {
	width: 300px;
	margin: 10px;
}

.inputTitle {
	height: 52px;
	line-height: 20px;
	background: #fff;
}

.no-border {
	border: none;
	box-shadow: none;
}

.inputField {
	width: 100%;
	text-align: left;
	border: none;
}

.list-group-item {
	height: 40px;
}

li.textArea {
	height: 230px;
}

.textArea {
	height: 150px;
}

.editMode {
	color: #FF0000;
	font-weight: bold;
}

.saveButton {
	display: none;
	box-shadow: 1px 1px 1px #ddd;
}

#messageDiv {
	position: fixed;
	right: -300px;
	background: #fff;
	width: 300px;
	z-index: 99;
	height: 100vh;
	box-shadow: inset 1px 2px 2px #eee;
}

#bodyDiv {
	position: relative;
}