/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$addButtonBorderColor: #ccc;
$addButtonTextColor: #666;

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	text-align: center;
}

.login {
	padding: 50px;
}

.top {
	border-bottom: 1px solid #ccc;
}

.nav {
	border: none;
}

.signUp {
	padding: 50px;
	background: #ddd;
}
.nav {
	background: #fff;
}
.nav-pills li {
	border-radius: 0px;
}

.jumbotron {
	color: #666;
	background: #eee;
	border-bottom: 1px solid #ccc;
	box-shadow: 1px 3px 5px #eee;
}

.dashboard-body {
	height: 1000px;
}

.panel {
	border-radius: 0px;
	box-shadow: 1px 2px 2px #eee;
}

.btn, .form-control {
	margin-top: 10px;
}

.modal-header {
	background: #eee;
}

.form {
	margin-bottom: 10px;
	width: 100%;
	padding: 5px;
}

.panel-heading {
	font-weight: bold;
	text-align: left;
	cursor: pointer;
}


.event-col, .listings-col, .leads-col {
	text-align: left;
}

.listingImage {
	margin-top: -15px;
	margin-bottom: 10px;
}

.listingInformation {
	margin-top: 20px;
}

.attrTitle {
	margin-top: 5px;
	text-align: right;
	font-weight: bold;
}

.attrValue {
	margin-top: 5px;
	text-align: left;
}

h3 {
	display: inline-block;
	vertical-align: middle;
}

.list-group {
	box-shadow: 1px 1px 1px #ddd;
}

/* buttons */

button {
	vertical-align: middle;
	float: right;
	margin-left: 10px;
}

.add {
	color: $addButtonTextColor;
	border-color: $addButtonBorderColor;
	box-shadow: 1px 1px 1px #ddd;
}

#back-button {
	color: $addButtonTextColor;
	border-color: $addButtonBorderColor;
	box-shadow: 1px 1px 1px #ddd;
}

/* forms */

.collectionForm {
	width: 100%;
}

.inputTitle {
	height: 52px;
	line-height: 20px;
	background: #fff;
}

.no-border {
	border: none;
	box-shadow: none;
}

.inputField {
	width: 100%;
	text-align: center;
	border: none;
}

.list-group-item {
	height: 40px;
}

li.textArea {
	height: 230px;
}

.textArea {
	height: 100px;
}

.editMode {
	color: red;
	font-weight: bold;
}

.saveButton {
	display: none;
	box-shadow: 1px 1px 1px #ddd;
}